*{
    font-family: 'Playfair Display';
    font-weight: bold;
}

html {
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgb(86, 180, 206), rgb(133, 205, 225), white) no-repeat;
}

.title {
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: bold;
}

h1 {
    text-align: center;
}

#aboutDiv {
    padding-top: 1em;
    padding-bottom: 1em;
}

#aboutTextDiv {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.aboutParagraph {
    margin-left: 20vh; 
    margin-right: 20vh;
    font-size: 16px;
}

.logout {
    justify-content: end!important;
}

.loginForm {
    flex: 2;
    flex-direction: column;
    border: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoPic {
    margin-top: 2em; 
    margin-bottom: 2em;
    height: 30%;
}

.loginScreen {
    flex: 2;
}

.titleHome {
    margin: 1vh;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    border: 10px;
    font-size: 10vh;
    text-align: center;
    text-shadow: 0.25vh -.5px 1px white;
}

h2 {
    margin: 1vh !important;
    display: flex;
    font-size: 10vh;
    border: 10px;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.buttonHome {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
}

footer {
    margin-top: 1em;
    flex: 0 1em;
    text-align: center;
    font-weight: bold;
    border: 10px;
}

div {
    width: 100%;
}

#signupDiv {
    display:flex; 
    flex: 0 1em;
    justify-content: center;
    align-items: center; 
    margin-right: 10vh;
    margin-left: 10vh;
}

.row{
    margin-left: 15vw!important;
    margin-right: 15vw!important;
}

.table {
    width: 75%!important;
}

@media (max-width: 600px){
    .logoPic:nth-child(1) {
        display:none;
    }
    .aboutParagraph{
        margin-left: 2vh; 
        margin-right: 2vh;
    }
    .row {
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    footer {
        display: none;
    }
    
}