/*
This section is for overall HTML elements
*/

*{
    font-family: 'Playfair Display';
    font-weight: bold;
}

html {
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 80%;
    flex: 1;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgb(86, 180, 206), rgb(133, 205, 225), white) no-repeat;
}

h1 {
    text-align: center;
    font-size: auto;
}

h2 {
    margin: 1vh !important;
    display: flex;
    font-size: 10vh;
    border: 10px;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

footer {
    margin-top: 1em;
    flex: 0 1em;
    text-align: center;
    font-weight: bold;
    border: 10px;
}

div {
    width: 100%;
}


/*
This section is for HTML CLASS elements
*/

.title {
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: bold;
}

.aboutParagraph {
    margin-left: 20vh; 
    margin-right: 20vh;
    font-size: 16px;
}

.logout {
    justify-content: end!important;
}

.loginForm {
    flex: 2;
    flex-direction: column;
    border: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoPic {
    margin-top: 2em; 
    margin-bottom: 2em;
    height: 30%;
}

.loginScreen {
    flex: 2;
}

.titleHome {
    margin: 1vh;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    border: 10px;
    font-size: 5em;
    text-align: center;
    text-shadow: 0.25vh -.5px 1px white;
}
.buttonHome {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.row{
    margin-left: 15vw!important;
    margin-right: 15vw!important;
}
.bottleSection {
    background: white;
    border-right: solid black 3px;
    border-left: solid black 3px;
    border-radius: .5em;
    height: 3.5em;
    width: 15em;
}

.bottleSection:nth-child(3) {
    border-top: solid black 3px;
    border-radius: 1.5em 1.5em .5em .5em;
}

.bottleSection:nth-child(10) {
    border-bottom: solid black 3px;
    border-radius: .5em .5em 1.5em 1.5em;
}

p.title {
    text-align: center;
    vertical-align: top;
    font-size: 1.5em;
    margin: 0;
}

/*
This section is for overall HTML ID elements
*/

#leaderboardTable {
    width: 50%!important;
}

#mainSection {
    display: flex; 
    gap: 1em; 
    flex-direction: row;
    width: 100%; 
    height: 100%;
}

#bottleCap{
    display: flex;
    justify-content: center;
    height: 4em;
    width: 8em;
    border: solid 5px black;
    border-radius: 1em 1em 0 0;
    background: rgb(161, 155, 155);
}

#signupDiv {
    display:flex; 
    flex: 0 1em;
    justify-content: center;
    align-items: center; 
    margin-right: 10vh;
    margin-left: 10vh;
}

#bottleDiv {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    flex: 1;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 7em;
}

#logDivision {
    display:flex; 
    flex: 2;  
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 65%;
    margin-bottom: 1em;
}

p.title{
    padding-bottom: 2em;
}

#messageBox {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#mainTable {  
    overflow: auto; 
    table-layout: fixed;
}

#drnkngLogTable {
    overflow: hidden;
    white-space: nowrap;
    table-layout: fixed;
}

#amountBox {
    display: flex; 
    flex: 1;
    height: 2em;
    margin: 10px;;
}

#numOfCups {
    padding: 0 !important;
}

#amountField {
    height: 2em!important;
}

#amountFieldSpan {
    height: 2em!important;
    margin-right: 10px;
}

#aboutDiv {
    padding-top: 1em;
    padding-bottom: 1em;
}

#aboutTextDiv {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#logOutBtn {
    visibility: hidden;
}

@media (max-width: 700px){
    .logoPic:nth-child(1) {
        display:none;
    }
    .aboutParagraph {
        margin-left: 2vh; 
        margin-right: 2vh;
    }
    .row {
        margin-left: 5%!important;
        margin-right: 5%!important;
    }
    #leaderboardTable {
        width: 70%!important;
    }
    footer {
        display: none;
    }

    #bottleDiv {
        display: none;
    }
    
}